@model EventManagement.Models.DomainModels.EventInformation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete event information</h2>

<h4 class="text-danger">Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Event date and time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            No. of attendees
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendeeNumber)
        </dd>
        <dt class = "col-sm-2">
            Organizer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class = "col-sm-2">
            Event type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventCategories.EventCategoryName)
        </dd>
        <dt class = "col-sm-2">
            Venue
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venues.VenueName)
        </dd>
        <dt class = "col-sm-2">
            Booked on
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete" style="padding:unset; box-shadow:none;">
        <input type="hidden" asp-for="EventInfoId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left"></i> Back to List</a>
    </form>
</div>
